table {
    text-align: center;
}

body, html {
    height: 100%;
    margin: 0;
}
.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}
#tableBody.h-24-system .h-12{
    display: none;
}

#tableBody.h-12-system .h-24{
    display: none;
}