table {
    text-align: center;
}

body, html {
    height: 100%;
    margin: 0;
}
.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}
#tableBody.h-24-system .h-12{
    display: none;
}

#tableBody.h-12-system .h-24{
    display: none;
}

tr.table-primary .time-left-placeholder{
    display: none;
}

tr:not(.table-primary) .time-left{
    display: none;
}

tr:hover .time-left-placeholder{
    display: none;
}

tr:hover .time-left{
    display: table-cell;
}

.corner {
    position: absolute;
    opacity: 0.25;    
}

.top-left {
    top: 0;
    left: 0;
    transform: rotate(180deg);
    margin-top: 55px;
}

.top-right {
    top: 0;
    right: 0;
    transform: rotate(270deg);
    margin-top: 55px;
}

.bottom-left {
    bottom: 0;
    left: 0;
    transform: rotate(90deg);
}

.bottom-right {
    bottom: 0;
    right: 0;
    transform: rotate(0deg);
}

html[data-bs-theme="dark"] .corner img {
    filter: brightness(0) invert(1);
}

html[data-bs-theme="dark"] .corner {
    opacity: 0.10;    
}

.bg{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg1{
    background-image: url('/aqsa.svg');
}

.bg2{
    background-image: url('/mosque.svg');
}

.bg3{
    background-image: url('/mosque-desert.svg');
}

